.header {
    z-index: 100;
    padding: 1em;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-cont {
    max-width: 70px;

}

.logo-cont img{
    width: 100%;
}