.intro-cont {
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tech-cont{
    height: 25vh;
}

.intro {
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.social-cont {
    padding: 0 30px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.illust{
    width: 40%;
}

.illust .image-cont{
    max-width: 480px;
    margin: 0 auto;
}

.illust .image-cont img{
    width: 100%;
}

.tech-cont .tech .tech-icon:hover{
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}



@media(max-width: 768px) {

}

@media(max-width: 640px) {
    .intro-cont{
        height: 100svh;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    
    .intro{
        width: 100%;
    }

    .tech-cont{
        height: 80vh;
    }

    .illust{
        width: 90%;
    }

    .social {
        justify-content: center;
        gap: 30px;
    }

    .social .dl-btn{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
    
}

@media(max-width: 480px) {

}

