.intro-cont {
    height: 100vh;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.scroll-area {
    scroll-snap-align: start;
}

.hesocial-cont {
    padding: 0 30px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.cover {
    position: absolute;
    right: 0;
    width: 1000px;
    filter: drop-shadow(0 0 5px rgb(77, 59, 59));
}

.logo {
    width: 50px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    gap: 20px;
    justify-content: space-between;
}

.s-email {
    font-family: 'Share Tech Mono', monospace;
    color: var(--white);
    font-size: 28px;
}

.s-icons {
    font-size: 40px;
    color: var(--white);
}

.intro {
    width: 60%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p,
h1 {
    margin: 0;
}

.greet {
    font-size: 40px;
    color: var(--primary);
}

.name {
    font-size: 72px;
    font-family: var(--secondary-font);
    font-weight: bold;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.role {
    font-size: 40px;
    font-weight: 600;
    color: var(--grey);
}

.illust{
    width: 40%;
}

.illust .image-cont{
    max-width: 1080px;
    margin: 0 auto;
}

.illust .image-cont img{
    width: 100%;
}

@media(max-width: 768px) {

}

@media(max-width: 640px) {
    .intro-cont{
        flex-direction: column-reverse;
    }

    .intro{
        width: 100%;
        
    }

    .illust{
        width: 80%;
        margin-bottom: 2em;
    }
    
}

@media(max-width: 480px) {

}