.project-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.project-card {
}



@media(max-width: 768px) {
    .project-cont {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }

}

@media(max-width: 640px) {
    
}

@media(max-width: 480px) {

}