.container{
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 1em;
    padding-right: 1em;
}

.App{
    z-index: 3;
}


/* Responsive */

/* intro SVG Animations */

@keyframes updown {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes updown {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes updown {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes updown {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}